html{
	scroll-behavior: smooth;
	height:100%;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow-x: hidden !important;
}
#header{
	height: 100vh;
/* 	background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(MyWebsite/background.jpg); */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.user-box{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.user-box h1{
	color: #ffff;
	font-size: 70px;
	font-weight: bold;
	margin: 10px;
}
.user-box h5{
	color: #ffff;
	font-weight: bold;
	margin: 10px;
}
.user-box p{
	color: #ffff;
}
.scroll-btn{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.scroll-btn span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	animation: animate 2s infinite;
}
.scroll-btn span:nth-child(1){
	animation-delay: -0.4s;
}
.scroll-btn span:nth-child(2){
	animation-delay: -0.2s;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}
/*about*/
.about{
	padding-top: 100px;
}
.profile-image{
	margin-top: 20px; 
	height: 300px;
	width: 300px;
	border-radius: 50px;
}
.nav-bar{
	top: 0;
	position: sticky;
	z-index: 2;
}
.navbar{
	background-color: #000;
}
.nav-bar .fa{
	font-size: 35px;
	color: #fff;
}
.navbar-toggler{
	outline: none !important;
}
.navbar-nav{
	float: center;
	text-align: center;

}
.nav-link{
	color: #fff !important;
}
.skills-bar{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress{
	border-radius: 16px !important;
	margin-bottom: 10px;
}
.progress-bar{
	border-radius: 16px;
	background: light blue !important;
}
/*skills*/
.skills{
	padding-top: 80px;
	padding-bottom: 30px;
	background: #f9f9f9;
}
.skills h1{
	margin-bottom: 20px;

}
.skills h3{
	margin-bottom: 50px;

}
.timeline{
	list-style-type: none;
	position: relative; 
}
.timeline:before{
	content: '';
	background: #555;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;	
}
.timeline li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.timeline li h4{
	background-color: #000;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 20px; 
}
/*.timeline li h4 span{
	font-weight: bold;
	color: #ccc;

}
*/
.timeline li:before{
	content: '';
	background: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}
/*Services*/
.projects{
	padding-top: 50px;
	padding-bottom: 50px;
}
.projects h1{
	/*margin-top: 10px;*/
	margin-bottom: 15px;
}
.projects-box{
	background: #f9f9f9;
	padding: 10px;
	margin-top: 20px;
	border-top-right-radius: 50px; 
	border-bottom-left-radius:50px; 
}
.projects-box .fa{
	margin: 0 10px;
	font-size: 20px;
}
.projects-box span{
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
}
.projects-box p{
	font-size: 15px;
	margin-top: 20px;
	color: 777;
}
.projects-box:hover{
	background: #000;
	color: #fff;
	border-top-right-radius: 0px; 
	border-bottom-left-radius:0px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s; 
}


/*contact*/
.contact{
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
.contact .row{
	padding: 10px 0;
	/*font-size: 2px;*/
}
.contact .col-md-6{
	font-size: 20px
}
.contact-box .fa{
	font-size: 40px;
	margin-bottom: 10px;
}
.contact .btn{
	padding: 10px 25px 10px;
	margin: 5px;
	margin-bottom: 50px; 
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent ;
}
.contact .btn:focus{
	box-shadow: none !important;
}

/*social icos*/
.socail-icons{
	top: 50%;
	transform: translateY(-50%);
	position: sticky;
	z-index: 1;
	width: 80px;
}

.socail-icons ul{
	padding: initial;

}
.socail-icons ul li{
	padding: initial;
	height: 40px;
	width: 40px;
	list-style: none;
	padding-left: 12px;
	padding-top: 6px;
	margin-top: 5px;
	color: #fff;
	background: #000;
}

.socail-icons ul li:hover{
	padding-left: 30px;
	width: 60px;
	transition: 0.5s;
}















